body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header, .footer, .hero {
    display: flex;
    background-color: #1F2937;
    padding: 7px 200px;
    column-gap: 30px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
    font-weight: 700;
}

.links {
    display: flex;
    gap: 2em;
}

.hero {
    padding-top: 100px;
    padding-bottom: 100px;
}

.title-card {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-right: auto;
}

.title-card button, .call-to-action {
    margin-top: auto;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 25px;
    border-radius: 7px;
}

button {
    align-self: flex-start;
    font-size: 18px;
    font-weight: 550;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 25px;
    border-radius: 7px;
}

.call-to-action button {
    border: 2px solid white;
}

.call-to-action button {
    align-self: center;
    margin-left: auto;
}

.image-cards  {
    padding-left: 100px;
    padding-right: 100px;
    margin: 7px 200px;
}

.content {
    display: flex;
    flex-direction: column;
}


.image-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-cards .info-header {
    font-weight: 700;
    font-size: 36px;
    color: #1F2937;
    padding: 25px;
}

.cards {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-subtext {
    text-align: center;
    max-width: 150px;
}

.card .img-container {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 125px 300px;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
    color: #1F2937;
}

.quote-author {
    align-self: flex-end;
    font-weight: 650;
    font-size: 29px;
}

.call-to-action {
    display: flex;
    align-content: center;
    margin: 100px 200px;
    padding: 50px 100px;
}

.cta-header {
    font-weight: 700;
    font-size: large;
}

.title-card b {
    font-size: 48px;
    color: #F9FAF8;
}

a, .title-card p, .footer {
    font-family: sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    font-weight: lighter;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    padding: 25px;
}